
/** Show & hide mecanism **/

/* Show & hide the the standard URL input / the custom TitleURL.
   → when hovered or focused */
#urlbar:not([focused]) .urlbar-input-box:not(:hover) > .urlbar-input {
	/* To hide the input, simply reduce its size; don’t “delete” it because
	   it makes the input inaccessible by keyboard (via TAB or Ctrl+L
	   shortcut) and causes displaying bugs (icon not refreshed, bookmark-
	   star icon not displayed…). */
	/*display: none !important;*/
	width: 0 !important;
	-moz-box-flex: 0 !important;
	/* ↑ overhidden by XUL attribute ‘flex’, which must be deleted via JS
	     if present to make this statement take effect */
}
.urlbar-input-box:hover > #TitleURL,
#urlbar[focused] #TitleURL {
	display: none !important;
}

/* Show & hide the current title / the preview title.
   → when a tab is hovered (indicated by the class applied to #TitleURL) */
#TitleURL:not(.TitleURL-current) > #TitleURL-current,
#TitleURL:not(.TitleURL-preview) > #TitleURL-preview {
	display: none !important;
}

/* Show & hide the standard identity box / the custom preview icon.
   → when a tab is hovered (indicated by the class TitleURL-preview applied to
     #identity-box) */
#identity-box.TitleURL-preview #page-proxy-stack > :not(#TitleURL-icon),
#identity-box.TitleURL-preview #identity-icon-labels {
	display: none !important;
}
#identity-box:not(.TitleURL-preview) #TitleURL-icon {
	display: none !important;
}


/** A bit of style **/

/* Tune the url (to help distinguish it from the title). */
#urlbar .urlbar-input {
	font-family: monospace !important;
}
#urlbar[focused] .urlbar-input {
	color: blue !important;
}

/* Alignment. */
#TitleURL > label {
	-moz-box-flex: 1 !important;
	margin-bottom: 0 !important;
	/* needed to be well aligned with the url… */
	/*margin-bottom: -2px !important;*/
	/*-moz-box-align: center !important;*/
}

/* Special styles to distinguish current / preview titles, and when loading. */
#TitleURL-current {
	font-weight: bold !important;
}
#TitleURL > .TitleURL-progress {
	font-style: italic !important;
}

/* Color of the identity box when previewing, to cancel the color applied (blue
   or green) when the current tab contains a secure page: yellow. */
#identity-box.TitleURL-preview {
	background-image: -moz-linear-gradient(rgb(255, 255, 171), rgb(235, 235, 151)) !important;
	box-shadow: 0pt 1px 0pt rgba(128, 64, 0, 0.05) inset !important;
	color: rgb(128, 64, 0) !important;
}


/* Reduce tabs (hide their titles). */
.tabbrowser-tab:not([pinned]) {
	min-width: 29px !important;
}
.tab-close-button {
	display: none !important;
}

/* Separate pinned and unpinned tab with a gap (since both are reduced, we can’t
   recognize them otherwise). */
.tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned]) {
	margin-left: 10px !important;
}
