/*** Windows-specific aspect ***/


@import url("chrome://TitleURL/content/global-aspect.css");

/* Size and position of the preview favicon. */
#TitleURL-icon {
	margin-top: 1px;
	margin-bottom: 1px;
	-moz-margin-start: 3px;
	-moz-margin-end: 2px;
}
